<br>
<div style="margin:auto">
    <select id="operacao">
        <option value="getDDD">Busca por Cidade</option>
        <option value="getCidades">Busca por DDD</option>
    </select>
    <input type="text" id="entrada">
    <input type="button" value="Realizar Busca" onclick="buscar();">
</div>
<div id="dados">
</div>
<script>
    function buscar() {
        var selectOperacao = document.getElementById("operacao");
        var operacao = selectOperacao.options[selectOperacao.selectedIndex].value;
        var entrada = document.getElementById("entrada").value

        if (operacao == "getDDD") {
            var servidor = "http://hiruke.ddns.net/webapi/getDDD?cidade=" + entrada;
        } else if (operacao == "getCidades") {
            var servidor = "http://hiruke.ddns.net/webapi/getCidades?ddd=" + entrada;
        }
        $.getJSON(servidor, function (json) {
            carregaDados(json, operacao);
        });
    }

    function carregaDados(json, operacao) {
        document.getElementById("dados").innerHTML = "";
        if (json.length > 0) {
            var html;
            for (var elemento in json) {
                codigoHtml =
                    "DDD:" + json[elemento].ddd + "<br>" +
                    "Cidade:" + json[elemento].cidade + "<br>" +
                    "Estado:" + json[elemento].estado + "<br>" +
                    "Operadora:" + json[elemento].operadora;


                codigoHtml =
                    "<div class='panel-heading'>" + json[elemento].cidade + "</div>" +
                    "<div class='panel-body'>" +
                    "<ul class='list-group list-group-flush'>" +
                    "<li class='list-group-item'>DDD:" + json[elemento].ddd + "</li>" +
                    "<li class='list-group-item'>Estado:" + json[elemento].estado + "</li>" +
                    "<li class='list-group-item'>Operadora:" + json[elemento].operadora + "</li>" +
                    "</ul>" +
                    "</div>";

                var divCidade = document.createElement("div");
                divCidade.innerHTML = codigoHtml;
                divCidade.className = "panel panel-default";

                document.getElementById("dados").append(divCidade);
            }
        } else {
            document.getElementById("dados").innerHTML = "<p>Nenhum valor foi encontrado pela busca. Por favor verifique os dados informados e tente novamnente.</p>";
        }
    }
</script>
<style>
    .panel {
        display: inline-block;
        margin: 1em;
        width: 20em;
    }
</style>