<div id="corpo" style="height:90%">
    <fieldset style="width:25%;margin:auto;">
        <h2>Login</h2>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email"><br>
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha">
        </div>
        <br>
        <input type="button" value="Login" onclick="login();">
    </fieldset>
    <a href="~/Cadastro">Criar conta</a>
    <a href="~/Cadastro/Recuperacao">Recuperar acesso</a>
</div>
<script>
    function login() {
        var email = document.getElementById("email").value;
        var senha = document.getElementById("senha").value;
        var servidor = "http://hiruke.ddns.net/Login/Login?email=" + email + "&senha=" + senha;
        $.getJSON(servidor, function (json) {
            iniciaSessao(json);
        });
    }
    function iniciaSessao(json) {
        if (json["id"] > 0) {
            document.cookie = "id=" + json["id"] + " ;path=/"
            document.cookie = "nome=" + json["nome"] + "; path=/"
            document.cookie = "email=" + json["email"] + " ;path=/"
            window.location.replace("/Viewer");
        } else {
            alert("Usuario ou senha incorretos.\nVerifique os dados informados e tente novamente")
        }
    }
</script>
