<fieldset style="border:1px;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;width:28rem;height:10rem">
    <legend>Login</legend>
    <div style="position:absolute;left:0;right:0;margin:auto">
        <label style="width:7rem" for="email">Email</label>
        <input style="width:20rem" type="email" name="email" id="email"><br>
        <label style="width:7rem" for="senha">Senha</label>
        <input style="width:20rem" type="password" name="senha" id="senha"><br>
        <input style="position:absolute;right:0;margin:auto;margin-top:1em" type="button" value="Login" onclick="login()"><br />
        <a style="position:absolute;right:0;margin:auto;margin-top:3em" href="~/Cadastro/Recuperacao">Esqueci minha senha</a>
    </div>
</fieldset>

<script>
    function login() {
        var email = document.getElementById("email").value;
        var senha = document.getElementById("senha").value;
        var servidor = "http://hiruke.ddns.net/Login/Login?email=" + email + "&senha=" + senha;
        $.getJSON(servidor, function (json) {
            iniciaSessao(json);
        });
    }
    function iniciaSessao(json) {
        if (json["id"] > 0) {
            document.cookie = "id=" + json["id"] + " ;path=/"
            document.cookie = "nome=" + json["nome"] + "; path=/"
            document.cookie = "email=" + json["email"] + " ;path=/"
            window.location.replace("/Viewer");
        } else {
            alert("Usuario ou senha incorretos.\nVerifique os dados informados e tente novamente")
        }
    }
</script>
